/*-----------------1440 headBox-----------------*/
.laptop{
    width:100%; height:auto; background-color: #fff;
    max-width:1440px;padding-bottom: 1rem;
}
.laptop h1{
    float:left;
    margin-left:11.805556vw;
    width:7.5vw; height:6.944444vw;
    background-image: url(../../../icon/logo_480.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
}
.lap_navBox{
    float:right;
    margin-right:11.111111vw;
    width:48.61111vw; height:6.94444vw;
}

.lap_navBox > .lap_menu{
    width:inherit; height: inherit;
}
.lap_menu li{
    float:left;
    width:148x; height:6.944444vw;
    margin-left:2.2vw;
    margin-top:1.2vw;
    font-weight: bold;
    font-size:2rem;
    color:var(--color-gray);
    line-height: 6rem;
    text-transform: uppercase;
    text-align:cetner;
    padding: 5px;
}
.lap_menu li:nth-child(2){
    text-align:right;
}
.lap_menu li:nth-child(3){
    text-align:right;
}

.lap_menu li:last-child{
    float:right;
    width:3.472222vw; height:6.9444vw;
    font-size:3rem;
    text-align:right;
}

.three{
    margin-left:10.416667vw;
    width:79.166667vw;
    color:var(--color-gray);
    text-align:center;
}



/*--------------------------1440 #pictureBox-----------------*/
.lap_wrap{
    width:100%; height:2500px;
    background-color: #fff;
    overflow:hidden;
    position:relative;
}
.lap_PE_wrap{
    margin-top:5.902778vw;
    margin-left:10.316667vw;
    width:79.166667vw;
    height:79.6875vw;
    background-color: var(--color-gray);
}
.lap_pic_wrap{
    position:absolute;
    left:13.75vw;
    top:10.35vw;
    width:72.430556vw;
    height:70.6875vw;
    background-color: #fff;
    /* margin-top: 9.765625vw; */
    /* margin-left:3.95531vw; */
    overflow:hidden;
}

.lap_button{
    position:absolute;
    z-index: 999;
    top:43vw; 
    left:10.4vw;
    width:79.1667vw; height:8.75vw;
}
.lap_button button{
    font-size: 5rem;
    color:var(--color-white);
    text-align: center;
}
.lap_next{
   float:right;
}
.lap_next.on{
    color:rgb(167, 167, 167);
}
.lap_prev.on{
    color:rgb(167, 167, 167);
}
.lap_prev{
    float:left;
}

.lap_pic_wrap > .lap_frame{
   width:500%;
   height:79.6875vw;
   margin:auto;
}
.lap_frame li{
   float:left;
   width:20%;
   height:79.6875vw;
   
   background-repeat: no-repeat;
   background-size: contain;
   
}

.lap_pic_01{
    background-image: url(../../../img/marc_chagall_me_and_village.jpg);
    background-position: 50% 50%;
}
.lap_pic_04{
    background-image: url(../../../img/Marc_Chagall_The_Birthday_1915.png);
    background-position: 50% 28%;
}
.lap_pic_05{
    background-image: url(../../../img/over-the-town-1918.jpg);
    background-position: 50% 28%;
}
.lap_pic_06{
    background-image: url(../../../img/whiteCross.jpg);
    background-position: 50% 50%;
}
.lap_pic_02{
    background-image: url(../../../img/selfportraitWith5fingers.jpg);
    background-position: 50% 50%;
}
.lap_pic_03{
    background-image: url(../../../img/paris_overTheWindow.jpg);
    background-position: 50% 2%;
}
.lap_pic_10{
    background-image: url(../../../img/bride&broomOfEiffelTower.jpg);
    background-position: 50% 50%;
}
.lap_pic_07{
    background-image: url(../../../img/winePortrait.jpg);
    
    background-position: 50% 50%;
}
.lap_pic_11{
    background-image: url(../../../img/circus_in_bluelight.jpg);
    background-position: 50% 50%;
}
.lap_pic_08{
    background-image: url(../../../img/artist.jpg);
    background-position: 50% 50%;
    background-size: cover;
}
.lap_pic_09{
    background-image: url(../../../img/walk.jpg);
    background-position: 50% 0%;
}
.lap_pic_12{
    background-image: url(../../../img/the_bride.jpg);
    background-position: 50% 50%;
}

.lap_text_wrap{
    float:left;
    height:59.583333vw;
}
.lap_divWrap{
    float:left;
    margin-left:10.85vw;
    width:50vw;
    height:59.583333vw;
}
.lap_divWrap>dl{
    width:40.902778vw;
    height:59.583333vw;
}

.lap_divWrap>dl >dt{
    width:auto;
    height:auto;
}
.lap_divWrap>dl >dd{
    
    height:auto;
}
.lap_name {
    margin-top:20px;
    font-size: 2.9rem;
    font-weight: bold;   
}
.lap_subtitle{
    font-size:2.4rem;
    font-weight: bold;
}
.lap_artist{
    font-size:1.8rem;
    margin-top: 10px;
}
.lap_year{
    font-size:1.8rem;
    margin-top: 10px;
}
.lap_size{
    font-size:1.8rem;
    margin-top: 10px;
}
.lap_ingredient{
    font-size:1.8rem;
    margin-top: 10px;
}
.lap_age{
    font-size:1.8rem;
    margin-top: 10px;
}
.lap_location{
    font-size:1.8rem;
    margin-top: 10px;
}
.lap_content{
    width:50vw;
    margin-top: 20px;
    font-size:1.7rem;
    line-height:3rem;

}

.lap_ageline{
    position:relative;
    z-index: 9999;
    top:7vw;
    float:right;
    margin-right:300px;
}

.lap_ageline >.lap_line{
    position:absolute;
    z-index: 99999;
    width:2px;
    height:69.805555vw;
    background-color:var(--color-gray);
}
.lap_line li {
    display:line-block;
    width:40px;
    height:40px;
    margin-top:3.5vw;
    margin-left: -18.8px;
    background-color: var(--color-gray);
    border-radius: 100%;
}
.lap_line li a{
    display:block;
    width:100%;
    height:100%;
}
.lap_line li.action a{
    width:50px; height:50px;
    border-radius: 100%;
    margin-left:-0.338vw;
    background-color: #161616;
}
.lap_line li:nth-child(1){
    margin-top:0;
}

.history li{
    position:absolute;
    z-index:10000;
    font-size:1.5rem;
    left:3rem;
}
.history li:nth-child(2){
    top:93px;
}
.history li:nth-child(3){
    top:276px;
}
.history li:nth-child(4){
    top:369px;
}
.history li:nth-child(5){
    top:730px;
}
.history li:nth-child(6){
    top:820px;
}

.history li:nth-child(7){
    top:910px;
}
/*--------------------------1440 #footBox--------------------*/
.laptop_footer{
    position:relative;
    width:100%; height:300px;
    background-color: var(--color-gray);
}
.laptop_footer .footer_logo{
    float:left; 
    margin-left:6.25vw; margin-top: 4.5833333vw;
    width:11.041667vw; height:10.694444vw;
    background-image: url("../../../icon/footer_logo.png");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.laptop_footer .address_01{
    float:left;
    margin-top: 6.583333vw; margin-left:6vw;
    width:46.1944444vw; height:10.277778vw;
    font-size: 1rem;
    text-align:center;
    color:var(--color-white);
}

.email > .laptop_email{
    position:absolute;
    top:4vw; left:73vw;
    width:27.083333vw; height:9.72222222vw;
}

#userId{
    width: 20.1388889vw; height: 2.430556vw;
    background-color: #fff;
}

#text_01{
    margin-top: 1vw;
    width:20.1388889vw; height:13vw;
    background-color: #fff;
}
.send{
    position:absolute;
    top:16.6vw; left:88vw;
    width:4.16667vw; height:2.777778vw;
    background-color: var(--color-gray);
    text-align:center;
    line-height: 2rem;
    font-size: 1rem;
    color:#fff;
}