

/*------------------480(#headBox)----------------------*/

.mobile{
    width:100%; height:auto; background-color: #fff;
    max-width: 480px; padding-bottom: 1rem;}
.mobile .navBox{
    float:left;
    margin-left:10.416667vw; margin-top: 7.7708333vw;
    width:12.5vw; height: 9.375vw;
}
.menu_btn{
    position:relative;
    width:60px; height:45px; 
    background-color: #fff;
    z-index:500;   
}
.menu_btn,.menu_btn> button{position:relative; width:100%; height: 100%;}
.menu_btn i{
    position: absolute;
    top:0; left:0; bottom:0; right:0; margin:auto; 
    display:block; border-radius: 5px;
    width:100%; height:1.041667vw; background-color: var(--color-gray);
    opacity:1; transition:all 300ms ease;
}

.line_02{ transform:translateY(-20px);}
.line_03{ transform:translateY(20px);}


.menu_btn.mobile_action .line_01{opacity:0;}
.menu_btn.mobile_action .line_02{transform:translateY(0) scaleX(1.3) rotate(50deg);}
.menu_btn.mobile_action .line_03{transform:translateY(0) scaleX(1.3) rotate(-50deg);}

.mobile h1{
    float:right;
    margin-right: 10.4166667vw; margin-top: 3.958333vw;
    width:12.5vw; height: 13.125vw;
    background-image: url("../../../icon/logo_480.png");
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

hr{ 
    margin-left:10.4166667vw;
    width:79.166667vw; 
    border: solid  #6c6c6c;
    border-radius: 5px;
}
.gnb{
    display:none;
    position:relative; bottom:8.333333vw; left:15.625vw;
    z-index:100; width:45.625vw;  height:8.33333vw; 
    background-color:var(--color-gray) 0.7; padding: 5px;
    box-sizing: border-box; color:#6c6c6c;
}
.gnb li{position:absolute; width:12.5vw; height:8.333333vw; text-transform: uppercase;}
.gnb li:nth-child(1){left:1.041667vw;}
.gnb li:nth-child(2){left:21.875vw;}
.gnb li:nth-child(3){left:34.375vw;}
.gnb a{display:block; width:100%;}
/*-------------------------------480px pictureBox----------------------------*/
.m_wrap{
    width:100%; height:1000px;
    background-color: #fff;
    position:relative;
}
.m_PE_wrap{
    margin-top:11.875vw;
    margin-left:10.416667vw;
    width:79.16667vw;
    height:79.1667vw;
    background-color: var(--color-gray);
    
}
.m_pic_wrap{
    width:66.6667vw; height:79.1667vw;
    background-color: #fff;
    margin-left:6.25vw;
    overflow:hidden;
}
.button{
    position:absolute;
    top:32.083333vw;
    width:79.1667vw; height:8.75vw;
}
.button button{
    font-size: 3rem;
    color:var(--color-white);
    text-align: center;
}
.m_next{
   float:right;
}
.m_next:hover{
    color:rgb(185, 189, 182);
}
.m_prev:hover{
    color:rgb(185, 189, 182);
}
.m_prev{
    float:left;
}

.m_pic_wrap > .mob_frame{
   width:500%;
   height:79.1667vw;
   margin:auto;
}
.mob_frame li{
   float:left;
   width:20%;
   height:79.1667vw;
   background-position: 50% 50%;
   background-repeat: no-repeat;
   background-size: contain;
   
}

.mob_pic_01{background-image: url(../../../img/marc_chagall_me_and_village.jpg);}
.mob_pic_02{background-image: url(../../../img/Marc_Chagall_The_Birthday_1915.png);}
.mob_pic_03{background-image: url(../../../img/over-the-town-1918.jpg!Large.jpg);}
.mob_pic_04{background-image: url(../../../img/paravent.jpeg);}
.mob_pic_05{background-image: url(../../../img/romeo_and_juliet.jpeg);}



/*--------------------------------480px footer------------------*/
.mobile_footer {
    min-width:260px;
    width:100%; height:62.5vw;
    background-color: var(--color-gray);
}

.mobile_footer .footer_logo{
    float:left; 
    margin-left:14.375vw; margin-top: 18.75vw;
    width:21.875vw; height: 22.083333vw;
    background-image: url("../../../icon/footer_logo.png");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}
.mobile_footer .address_01{
    float:right;
    margin-right:12.5vw; margin-top: 16vw;
    width:50.208333vw; height:40vw;
    font-size: 0.3rem;
    text-align:right;
    color:var(--color-white);
}
