/*------------------1024(#headBox)----------------------*/

.tablet{
    width:100%; height:auto; background-color: #fff;
    max-width: 1024x; padding-bottom: 1rem;}
.tablet h1{
        float:right;
        margin-right:8.203125vw;margin-top: 1.960156vw;
        width:12.5vw; height: 13.125vw;
        background-image: url("../../../icon/logo_480.png");
        background-size: contain;
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }
.tablet .tb_navBox{
    float:left;
    margin-left:10.416667vw; margin-top: 7.7708333vw;
    width:12.5vw; height: 9.375vw;
}
.tb_menu_btn{
    position:relative;
    width:60px; height:45px; 
    background-color: #fff;
    z-index:500;   
}
.tb_menu_btn,.tb_menu_btn> button{width:100%; height: 100%;}
.tb_menu_btn i{
    position: absolute;
    top:0; left:-5vw; bottom:1.464844vw; right:0; margin:auto; 
    display:block; border-radius: 5px;
    width:100%; height:1.041667vw; background-color: var(--color-gray);
    opacity:1; transition:all 300ms ease;
}

.tb_line_02{ transform:translateY(-32px);}
.tb_line_03{ transform:translateY(32px);}


.tb_menu_btn.tablet_action .tb_line_01{opacity:0;}
.tb_menu_btn.tablet_action .tb_line_02{transform:translateY(0) scaleX(1.3) rotate(50deg);}
.tb_menu_btn.tablet_action .tb_line_03{transform:translateY(0) scaleX(1.3) rotate(-50deg);}


.two{ 
    margin-left:7.8125vw;
    width:83.9847375vw; 
    border: solid  #6c6c6c;
    border-radius: 5px;
}
.tb_gnb{
    display:none;
    position:relative; bottom:8.333333vw; left:15.625vw;
    z-index:100; width:45.625vw;  height:8.33333vw; 
    background-color:var(--color-gray) 0.7; padding: 5px;
    box-sizing: border-box; color:#6c6c6c;
}
.tb_gnb li{position:absolute; width:12.5vw; height:8.333333vw; font-size: 1.5rem; text-transform: uppercase;}
.tb_gnb li:nth-child(1){left:1.041667vw;}
.tb_gnb li:nth-child(2){left:20.575vw;}
.tb_gnb li:nth-child(3){left:34.375vw;}
.tb_gnb a{display:block; width:100%;}
/*----------------10249(#pictureBox)----------------------*/

.t_wrap{
    width:100%; height:2000px;
    background-color: #fff;
    overflow:hidden;
    position:relative;
}
.t_PE_wrap{
    
    margin-top:13.671875vw;
    margin-left:7.59375vw;
    width:84.720625vw;
    height:79.6875vw;
    background-color: var(--color-gray);
}
.t_pic_wrap{
    position:absolute;
    left:12.353906vw;
    top:23.4375vw;
    width:74.8555469vw;
    height:59.863281vw;
    background-color: #fff;
    /* margin-top: 9.765625vw; */
    /* margin-left:3.95531vw; */
    overflow:hidden;
}

.t_button{
    position:absolute;
    z-index: 999;
    bottom:135vw; 
    left:8.3vw;
    width:83vw; height:8.75vw;
}
.t_button button{
    font-size: 4rem;
    color:var(--color-white);
    
    text-align: center;
}
.t_next{
   float:right;
}
.t_next.on{
    color:rgb(167, 167, 167);
}
.t_prev.on{
    color:rgb(167, 167, 167);
}
.t_prev{
    float:left;
}

.t_pic_wrap > .tab_frame{
   width:500%;
   height:79.6875vw;
   right:24vw;
}
.tab_frame li{
   float:left;
   width:20%;
   height:79.6875vw;
   
   background-repeat: no-repeat;
   background-size: contain;
   
}

.tab_pic_01{
    background-image: url(../../../img/marc_chagall_me_and_village.jpg);
    background-position: 50% 50%;
}
.tab_pic_02{
    background-image: url(../../../img/Marc_Chagall_The_Birthday_1915.png);
    background-position: 0 0;
}
.tab_pic_03{
    background-image: url(../../../img/over-the-town-1918.jpg);
    background-position: 0 4.5%;
}
.tab_pic_04{
    background-image: url(../../../img/whiteCross.jpg);
    background-position: 50% 50%;
}
.tab_pic_05{
    background-image: url(../../../img/selfportraitWith5fingers.jpg);
    background-position: 50% 50%;
}

.t_explainwrap{
    width:500%; height:79.166667vw;
    padding:50px;
    margin-left:25px; 
    text-align:left;
    overflow:hidden;

}
.t_explainWrap.divWrap {
    margin-left:100px;
}

.name {
    font-size: 3rem;   
}
.artist{
    font-size:2rem;
    margin-top: 10px;
}
.year{
    font-size:2rem;
    margin-top: 10px;
}
.size{
    font-size:2rem;
    margin-top: 10px;
}
.ingredient{
    font-size:2rem;
    margin-top: 10px;
}
.age{
    font-size:2rem;
    margin-top: 10px;
}
.location{
    font-size:2rem;
    margin-top: 10px;
}
.content{
    margin-top: 3rem;
    font-size:1.4rem;
    line-height:3rem;
    width:79.166667vw;
}
/*-----------------1024(#footer)------------------------------*/

.tablet_footer{
    width: 100%; height:29.296875vw;
    background-color: var(--color-gray);
}
.tablet_footer .footer_logo{
    float:left; 
    margin-left:8.789vw; margin-top: 6.445312vw;
    width:15.527344vw; height: 15.030962vw;
    background-image: url("../../../icon/footer_logo.png");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}
.tablet_footer .address_01{
    float:right;
    margin-top: 6.445312vw; margin-right: 6.738281vw;
    width:auto; height:14.453125vw;
    font-size: 1rem;
    text-align:right;
    color:var(--color-white);
} 