/* /* /* marcChagall_main.css */

/* 공통영역 */
#wrap {
    overflow: hidden;
    min-width:300px;
    position:relative;
    width: 100%; height:auto; 
    background-color:var(--color-white);}
    
    #viewBox{ 
        min-width:300px;
        position:relative;
        width:100%; height:auto;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 30% 30%;
    }
    #headBox{
        min-width:300px;
        width:100%; height:auto;
    }
    #footBox{
        min-width:300px;
        width:100%; height:auto;
        background-color: var(--color-gray);
    }

  /* tablet -----------------------------------------------------
  @media screen and (min-width:481px) and (max-width:1024px) { 
    #wrap {
      width:100%; height:81.25rem; background-color: #fa0;}
    .contain{
      width:100%; height:62.5rem; background-color: #fff;
    } 
    
  
  /* laptop ---------------------------------------------------
  @media screen and (min-width:1025px) and (max-width:1440px) { 
    #wrap {
      width:100%; height:1300px; margin:auto; background-color: #f07;}
    .contain{
      width:100%; height:62.5rem; background-color: #fff;
    } 
    
  
  
  /* pc
  @media screen and (min-width:1441px) { 
    #wrap {
      width:100%; height:86rem; margin:auto; background-color: #7fa;}
    .contain{
      width:100%; height:75rem; background-color: #fff;
    } 
    #viewBox{
        width:100%; height: 75rem;
        background-image: url(../../img/over-the-town-1918.jpg!Large.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 40% 0%;
    }
    #viewBox .action{
        width:100%; height: 75rem;
        background-image: url(../../img/over-the-town-1918.jpg!Large.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 40% 0%;
        opacity:90%;
    }
    .text{
        display:none;
        position:absolute;
        display:none; 
        width:1050px; height:698px;
        top: 159px; left:435px;
        text-align:center;
        background-color: var(--color-gray);
        line-height: 30px;
        
    }
    .marc_chagall{
        display:none;
        padding-top: 56.875rem;
    }
    .enter{
        display:none;
        padding-top: 67.1875rem;
    }

    #address{
        widows: 1024px; height:300px;
        background-color: var(--color-gray);
    }
    #address .footer_logo{
        float:left; 
        margin-left:90px; margin-top: 66px;
        width:159px; height: 154px;
        background-image: url(../../icon/footer_logo.png);
        background-position: 50% 50%;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #address .address_01{
        float:right;
        margin-top: 66px; margin-right: 69px;
        width:248px; height:148px;
        font-size: 0.2rem;
        text-align:right;
        color:var(--color-white);
    }
  } -------------------------------------------------------*/
