
/*------------------480(#headBox)----------------------*/

.mobile{
    width:100%; height:auto; background-color: #fff;
    max-width: 480px; padding-bottom: 1rem;}
.mobile .nav{
    float:left;
    margin-left:10.416667vw; margin-top: 7.7708333vw;
    width:12.5vw; height: 9.375vw; 
    background-image: url(../../icon/menu.png);
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.mobile h1{
    float:right;
    margin-right: 10.4166667vw; margin-top: 3.958333vw;
    width:12.5vw; height: 13.125vw;
    background-image: url(../../icon/logo_480.png);
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
hr{ 
    margin-left:10.4166667vw;
    width:79.166667vw; 
    border: solid  #6c6c6c;
}
/*----------------------480(#viewBox)--------------------*/



.mobile_view {
    margin-top:1px;
    /* width:100vw;  */height: 120vw;
    background-image: url("../../img/over-the-town-1918.jpg!Large.jpg");
    background-size: cover;
    background-position: 25% 100%;
    opacity:90%;
}
.mobile_view>.text{
/* display:none; */ 
    width:79.166667vw; min-height:57.6vw;
    margin-top: 12.166667vw; margin-left:10.416667vw;
    text-align:center;
    background-color: var(--color-gray);
    line-height: 6.25vw;
    color:#fff;
    font-size:3.333333333333vw;

}

.mobile_view .enter{
    /* position:absolute;*/
    width:45.625vw; height: 13.6666667vw; 
    /* display:none; */ 
    margin-top:10vw; margin-left:25vw;
    background-color: var(--color-gray);
    font-size:7vw;
    color:#fff;
    text-align: center;

}


/*----------------------480(#footBox)--------------------*/

.mobile_footer {
    min-width:260px;
    width:100%; height:62.5vw;
    background-color: var(--color-gray);
}

.mobile_footer .footer_logo{
    float:left; 
    margin-left:14.375vw; margin-top: 18.75vw;
    width:21.875vw; height: 22.083333vw;
    background-image: url(../../icon/footer_logo.png);
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}
.mobile_footer .address_01{
    float:right;
    margin-right:12.5vw; margin-top: 16vw;
    width:50.208333vw; height:40vw;
    font-size: 0.666667vw;
    text-align:right;
    color:var(--color-white);
}

