
/*------------------------------pc_view-----------------------*/
.pc_view{
    width:100%; height: 69.444444vw;
    background-image: url(../../img/over-the-town-1918.jpg!Large.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40% 0%;
}
/* .laptop_view .action{
    width:100%; height: 1000px;
    background-image: url(../../img/over-the-town-1918.jpg!Large.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40% 0%;
    opacity:90%;
} */
.pc_view .text_pc{
    width:68.055556vw; height:45.972222vw;
    margin-top: 3.75vw; margin-left:15.972222vw;
    text-align:center;
    background-color: var(--color-gray);
    line-height: 2.7777778vw;
    font-size: 2.125rem;
    color:var(--color-white);
    text-align:center;
    line-height: 3rem;
    overflow:hidden;
}
.pc_view .marc_chagall{
    width: 30vw; height:5vw;
    margin-left:34vw; margin-top: 3vw;
    background-color: var(--color-gray);
    font-size: 3rem;
    color:var(--color-white);
    text-align:center;
    line-height: 3.75rem;
}
.pc_view .enter_pc{
    width:20vw; height:5vw;
    margin-left: 39.583333vw; margin-top: 3vw;
    background-color: var(--color-gray);
    font-size: 3rem;
    line-height: 3.75rem;
    color:var(--color-white);
    text-align:center;
}

.text_02{padding:10rem; }


/*--------------------footer---------------*/

.pc_footer{
    position:relative;
    width: 1024px; height:300px;
    background-color: var(--color-gray);
}
.pc_footer .footer_logo{
    float:left; 
    margin-left:9.635416666667vw; margin-top: 2vw;
    width:11.041667vw; height:10.694444vw;
    background-image: url(../../icon/footer_logo.png);
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.pc_footer .address_01{
    position:absolute;
    top: 4vw; left:31vw; 
    width:32vw; height:6.25vw;
    font-size: 1rem;
    text-align:center;
    color:var(--color-white);
}

.pc_email >.pc_email_01{
    position:absolute;
    top:1vw;left:70.21875vw;
    width:27.083333vw; height:auto;
}

.pc_email_01 #userId{
    width: 20.1388889vw; height: 2.430556vw;
    background-color: #fff;
}

.pc_email_01 #text_01{
 
    margin-top: 1vw;
    width:20.1388889vw; height:10vw;
    background-color: #fff;
}
.pc_send{
    position:absolute;
    top:11.8vw; left:86.5vw;
    width:3.16667vw; height:2vw;
    background-color: var(--color-gray);
    text-align:center;
    line-height: 2rem;
    font-size: 1rem;
    color:#fff;
}