.tablet_view{
    position:relative;
    width:100%; height: 97.65625vw;
    background-image: url(../../img/over-the-town-1918.jpg!Large.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30% 40%;
}
/* .tablet_view .action{
    width:100%; height: 1000px;
    background-image: url(../../img/over-the-town-1918.jpg!Large.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30% 40%;
    opacity:90%;
} */
.text_tb{
    width:83.984375vw; height:66.9921875vw;
    margin-top: 75px; margin-left:80px;
    text-align:center;
    background-color: var(--color-gray);
    line-height: 30px;
    font-size: 2rem;
    line-height:60px;
    color:#fff;
    overflow:hidden;
}

.enter_tb{
    position:absolute;
    top:500px ; left: 34.375vw;
    width:31.25vw; height:8.3984375vw;
    color:#fff; font-size: 3rem; text-align:center;
    background-color:var(--color-gray);}

/* =====================footer============================================== */
.tablet_footer{
    width: 1024px; height:300px;
    background-color: var(--color-gray);
}
.tablet_footer .footer_logo{
    float:left; 
    margin-left:90px; margin-top: 66px;
    width:159px; height: 154px;
    background-image: url(../../icon/footer_logo.png);
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}
.tablet_footer .address_01{
    float:right;
    margin-top: 66px; margin-right: 69px;
    width:248px; height:148px;
    font-size: 2rem;
    text-align:right;
    color:var(--color-white);
} 