.tablet_view{
    position:relative;
    margin-top:1px;
    height: 97.65625vw;
   
}
.tablet_view:before,
.tablet_view::before{
    content:" "; display: block; width: 100%; height: 100%;
    position: absolute; z-index:0;
    background-image: url("../../img/over-the-town-1918.jpg!Large.jpg");
    background-size: cover;
    background-position: 30% 40%;
    transition: all 500ms ease 1s;}
.tablet_view.action:before,
.tablet_view.action::before{ opacity: 0.7;}



.tablet_text{
    display:none;
    position:absolute;
    top:5vw; margin-left:11vw;
    width:77.984375vw; height:55.9921875vw;
    text-align:center;
    background-color: var(--color-gray);
    line-height:5.859375vw;
    font-size: 3.125vw;
    color:#fff;
    overflow:hidden;
    padding-top: 9vw;;
}

.tablet_enter{
    display:none;
    position: absolute;
    width:31.25vw; height:9vw;
    top:80vw ; margin-left: 34.375vw;
    background-color:var(--color-gray);
    font-size: 4.6875vw; 
    color:#fff; 
    line-height:5rem;
    text-align:center;
}



/* =====================footer============================================== */
.tablet_footer{
    width: 100%; height:29.296875vw;
    background-color: var(--color-gray);
}
.tablet_footer .footer_logo{
    float:left; 
    margin-left:8.789vw; margin-top: 6.445312vw;
    width:15.527344vw; height: 15.030962vw;
    background-image: url(../../icon/footer_logo.png);
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}
.tablet_footer .address_01{
    float:right;
    margin-top: 6.445312vw; margin-right: 6.738281vw;
    width:auto; height:14.453125vw;
    font-size: 1rem;
    text-align:right;
    color:var(--color-white);
} 