

/*------------------480(#headBox)----------------------*/

.mobile{
    width:100%; height:auto; background-color: #fff;
    max-width: 480px; padding-bottom: 1rem;}
.mobile .navBox{
    float:left;
    margin-left:10.416667vw; margin-top: 7.7708333vw;
    width:12.5vw; height: 9.375vw;
}
.menu_btn{
    position:relative;
    width:60px; height:45px; 
    background-color: #fff;
    z-index:500;   
}
.menu_btn,.menu_btn> button{position:relative; width:100%; height: 100%;}
.menu_btn i{
    position: absolute;
    top:0; left:0; bottom:0; right:0; margin:auto; 
    display:block; border-radius: 5px;
    width:100%; height:1.041667vw; background-color: var(--color-gray);
    opacity:1; transition:all 300ms ease;
}

.line_02{ transform:translateY(-20px);}
.line_03{ transform:translateY(20px);}


.menu_btn.mobile_action .line_01{opacity:0;}
.menu_btn.mobile_action .line_02{transform:translateY(0) scaleX(1.3) rotate(50deg);}
.menu_btn.mobile_action .line_03{transform:translateY(0) scaleX(1.3) rotate(-50deg);}

.mobile h1{
    float:right;
    margin-right: 10.4166667vw; margin-top: 3.958333vw;
    width:12.5vw; height: 13.125vw;
    background-image: url("../../../icon/logo_480.png");
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

hr{ 
    margin-left:10.4166667vw;
    width:79.166667vw; 
    border: solid  #6c6c6c;
    border-radius: 5px;
}
.gnb{
    display:none;
    position:relative; bottom:8.333333vw; left:15.625vw;
    z-index:100; width:45.625vw;  height:8.33333vw; 
    padding: 5px;
    box-sizing: border-box; color:#6c6c6c;
}
.gnb li{position:absolute; width:12.5vw; height:8.333333vw; text-transform: uppercase;}
.gnb li:nth-child(1){left:1.041667vw;}
.gnb li:nth-child(2){left:21.875vw;}
.gnb li:nth-child(3){left:34.375vw;}
.gnb a{display:block; width:100%;}

.mobile_footer {
    min-width:260px;
    width:100%; height:62.5vw;
    background-color: var(--color-gray);
}


/*-------------------------------480px viewer-------------------------------*/
.m_wrap{
    margin-top:3vw;
    width:100%; height:105.208333vw;
}

.m_searching{
    position:relative;
    bottom:25px;
}
#m_Input{
    position:absolute;
    width:41.666667vw;
    height:8.3333vw;
    right:11.5vw;
}

input::placeholder{
    font-size:1.3rem; }

.m_searching i{
    position:absolute;
    left:40vw;
    bottom:0.1vw;
    height:100%;
    font-size:1.5rem;
}

.m_fieldsetHr{ 
    position:absolute; 
    width:48vw; left:150px; top:34vw;
    border:1px solid var(--color-gray);
}
.m_menu_01{
    float:left;
    margin-top: 3.8vw;
    width:25vw; height:72.916667vw;
    margin-left: 10.416667vw;
}
.m_realCategory{
    font-size: 1.5rem;
    margin-left: 10.416667vw;
    font-weight: bold;
}
.m_menu_01 dt{
    width:30vw; height: 6.4583333vw;
    font-size:1.2rem;
    color:var(--color-black);
}
.m_menu_01 dd{
    font-size:1.1rem;
    color:var(--color-gray);
    margin-bottom: 2vw;
}

.m_menu_02{
    float:left;
    margin-top: 16.9vw;
    margin-left:22.9vw;
    width:29.16667vw;
    height: 41.66667vw;
}
.m_menu_02 dt{
    width:30vw; height: 6.4583333vw;
    font-size:1.2rem;
    color:var(--color-black);
    
}
.m_menu_02 dd{
    font-size:1.1rem;
    color:var(--color-gray);
    margin-bottom: 2vw;
}



.m_goods{width: 100%; height:229.583333vw;} 
.m_hr{width:20.8333vw;margin-left: 29.1666667vw; border:0.0625rem solid var(--color-gray);}
.m_goodsWrap{position:relative;width:79.166667vw; height:217.916667vw;margin-left:10.416667vw;}
.m_goods dl{float:left;margin-left:2.083333vw;margin-top:3vw;width:37.5vw; height:62.5vw;}
.m_goods dt{width:100%; height:38.541667vw;}
.m_goods dd{margin-bottom: 0.2rem;}
.title{font-size: 0.9rem; font-weight: bold;}
.artist{font-size: 0.6rem;}
.price{font-size: 1rem;font-weight: bold;}

.m_heart{font-size: 1rem; color:#6c6c6c;}
.m_heart.on{color:crimson;}

.m_login{
    position:relative; bottom:181.25vw;
    width:79.166667vw; height:100.780083vw; margin:auto;
    background-color:#cdc;
    border:0.001rem solid var(--color-gray);
}

.m_save_text{
    width:100%; height:24vw;
}
.m_save_text li:nth-child(1){
    float:left;font-size: 2rem;
}
.m_save_text li:nth-child(2){
    float:left; color:crimson;
    font-size:2rem;
}
.m_save_text li:nth-child(3){
    float:right; margin-right:12vw;
    font-size:1.2rem;
}
.m_info{
    width:50vw; height:30vw;
    margin-bottom:15vw;
    margin-left:14.15vw;
}


#userMail{width:50vw;height:8vw;margin-top:2vw;}
#userName{width:49vw;height:8vw;margin-top:2vw;}
#usePw{width:50vw;height:8vw;margin-top:2vw;}

.userMail{font-size: 1rem;}

.m_check{margin-top:2rem; margin-left:5%; height:10vw;}
.m_sign_up{height:10vw; text-align:center;}


.m_indicator{
    position:absolute;
    z-index: 2000;
    width:50vw; height:100px;
    left:26%; top:340vw;
}

.m_indicator li{
    float:left; font-size: 1.3rem;
    margin-left: 2vw;
}


/*--------------------------------480px footer------------------*/
.mobile_footer .footer_logo{
    float:left; 
    margin-left:14.375vw; margin-top: 18.75vw;
    width:21.875vw; height: 22.083333vw;
    background-image: url("../../../icon/footer_logo.png");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}
.mobile_footer .address_01{
    float:right;
    margin-right:12.5vw; margin-top: 16vw;
    width:50.208333vw; height:40vw;
    font-size: 0.3rem;
    text-align:right;
    color:var(--color-white);
}
