/*------------------1024(#headBox)----------------------*/

.tablet{
    width:100%; height:auto; background-color: #fff;
    max-width: 1024x; padding-bottom: 1rem;}
.tablet h1{
        float:right;
        margin-right:8.203125vw;margin-top: 1.960156vw;
        width:12.5vw; height: 13.125vw;
        background-image: url("../../../icon/logo_480.png");
        background-size: contain;
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }
    .tablet h1 a{width:100%; height:100%; display:block;}
.tablet .tb_navBox{
    float:left;
    margin-left:10.416667vw; margin-top: 7.7708333vw;
    width:12.5vw; height: 9.375vw;
}
.tb_menu_btn{
    position:relative;
    width:60px; height:45px; 
    background-color: #fff;
    z-index:500;   
}
.tb_menu_btn,.tb_menu_btn> button{width:100%; height: 100%;}
.tb_menu_btn i{
    position: absolute;
    top:0; left:-5vw; bottom:1.464844vw; right:0; margin:auto; 
    display:block; border-radius: 5px;
    width:100%; height:1.041667vw; background-color: var(--color-gray);
    opacity:1; transition:all 300ms ease;
}

.tb_line_02{ transform:translateY(-32px);}
.tb_line_03{ transform:translateY(32px);}


.tb_menu_btn.tablet_action .tb_line_01{opacity:0;}
.tb_menu_btn.tablet_action .tb_line_02{transform:translateY(0) scaleX(1.3) rotate(50deg);}
.tb_menu_btn.tablet_action .tb_line_03{transform:translateY(0) scaleX(1.3) rotate(-50deg);}


.two{ 
    margin-left:7.8125vw;
    width:83.9847375vw; 
    border: solid  #6c6c6c;
    border-radius: 5px;
}
.tb_gnb{
    display:none;
    position:relative; bottom:8.333333vw; left:15.625vw;
    z-index:100; width:45.625vw;  height:8.33333vw; 
    background-color:var(--color-gray) 0.7; padding: 5px;
    box-sizing: border-box; color:#6c6c6c;
}
.tb_gnb li{position:absolute; width:12.5vw; height:8.333333vw; font-size: 1.5rem; text-transform: uppercase;}
.tb_gnb li:nth-child(1){left:1.041667vw;}
.tb_gnb li:nth-child(2){left:20.575vw;}
.tb_gnb li:nth-child(3){left:34.375vw;}
.tb_gnb a{display:block; width:100%;}
/*----------------10249(#pictureBox)----------------------*/
#viewBox:before,
#viewBox::before{
    content:" ";
    position:relative;
    width:100%; height:auto; display:block;
}

#viewBox.action:before,
#viewBox.ation::before{ opacity:50%; background-color: #cdc;}
.tab_wrap{
    margin-top:3vw;
    width:100%; height:96.208333vw;
}
.tab_exit{
    float:right;
    margin-right:1rem;
    width:3vw; height: 3vw;
    font-size: 3rem;
}
.tab_searching{
    position:relative;
    bottom:25px;
}
#tab_Input{
    position:absolute;
    width:41.666667vw;
    height:8.3333vw;
    right:11.5vw;
    font-size:2.4rem;
    border-bottom: 0.2rem solid var(--color-gray);
}

.tab_searching input::placeholder{
    font-size:2.4rem; }

.tab_searching i{
    position:absolute;
    right:16vw;
    height:100%;
    font-size:2.4rem;
}

.tab_fieldsetHr{ 
    position:absolute; 
    width:48vw; left:34vw; top:34vw; 
    border:1px solid var(--color-gray);
}
.tab_menu_01{
    float:left;
    margin-top: 10vw;
    width:25vw; height:72.916667vw;
    margin-left: 10.416667vw;
}
.tab_realCategory{
    font-size: 3.5rem;
    margin-left: 10.416667vw;
    font-weight: bold;
}
.tab_menu_01 dt{
    width:30vw; height: 6.4583333vw;
    font-size:2.3rem;
    color:var(--color-black);
}
.tab_menu_01 dd{
    font-size:1.9rem;
    color:var(--color-gray);
    margin-bottom: 2.8vw;
}

.tab_menu_02{
    float:left;
    margin-top: 16.9vw;
    margin-left:22.9vw;
    width:29.16667vw;
    height: 41.66667vw;
}
.tab_menu_02 dt{
    width:30vw; height: 6.4583333vw;
    font-size:2.3rem;
    color:var(--color-black);
    
}
.tab_menu_02 dd{
    font-size:1.9rem;
    color:var(--color-gray);
    margin-bottom: 2.8vw;
}



.tab_goods{width: 100%; height:229.583333vw;} 
.tab_hr{width:20.8333vw;margin-left: 29.1666667vw; border:0.0625rem solid var(--color-gray);}
.tab_goodsWrap{position:relative;width:79.166667vw; height:217.916667vw;margin-left:10.416667vw;}
.tab_goods dl{float:left;margin-left:2.083333vw;margin-top:8vw;width:37.5vw; height:62.5vw;}
.tab_goods dt{width:100%; height:38.541667vw;}
.tab_goods dd{margin-bottom: 0.2rem;}
.title{font-size: 1.9rem; font-weight: bold;}
.artist{font-size: 1.6rem;}
.price{font-size: 1.9rem;font-weight: bold;}

.tab_heart{font-size: 2rem; color:#6c6c6c;}
.tab_heart.on{color:crimson;}


.tab_login{
    display:none;
    position:relative; z-index:999; bottom:181.25vw;
    width:79.166667vw; height:110.780083vw; margin:auto;
    background-color:rgb(199, 201, 235);
    border:0.001rem solid rgb(169, 171, 207);
    border-radius: 0%;
}

.tab_save_text{
    width:100%; height:24vw;
}
.tab_save_text li:nth-child(1){
    float:left;
    margin-top:1rem; margin-left: 6vw;
    font-size: 4.6rem; 
}
.tab_save_text li:nth-child(2){
    float:left;
    margin-top: 1rem;
    margin-left: 2vw; 
    color:crimson; 
    font-size:4rem;
}
.tab_save_text li:nth-child(3){
    float:right; 
    margin-right:8vw;
    margin-top:0.3rem;
    font-size:2.5rem;
}
.tab_info{
    width:50vw; height:30vw;
    margin-bottom:15vw;
    margin-left:14.15vw;
}


#tab_userMail{width:50vw;height:8vw;margin-top:1.5vw;}
#tab_userName{width:50vw;height:8vw;margin-top:1.5vw; }
#tab_usePw{width:50vw;height:8vw;margin-top:1.5vw;}
.tab_mailfont{font-size: 2.5rem;}
.tab_namefont{font-size:2.5rem;}
.tab_passwordfont{font-size:2.5rem;}
.tab_email input::placeholder{font-size: 2.5rem;}
.tab_username input::placeholder{font-size: 2.5rem;}
.tab_password input::placeholder{font-size: 2.5rem;}



.tab_check{margin-top:1.4rem; margin-left:10%; height:10vw;}
.tab_sign_up{
    width:30vw;height:10vw;
    text-align:center; line-height:10.6vw; border-radius:40vw;
    background-color: crimson; margin-left:28%;
}
.tab_log_in_real{
    text-align:center; margin-top:3vw; font-size:1rem;
}
.tab_sign{font-size: 3rem;font-weight: bold; color:#fff;}
.tab_log{color:crimson; font-weight: bold; font-size: 1.6rem;}
.tab_want_email{font-size:2rem;}
#tab_recommend input{width:50vw; height:50vw;}


.tab_indicator{
    position:absolute;
    z-index: 2000;
    width:50vw; height:100px;
    left:35vw; top:335vw;
}

.tab_indicator li{
    float:left; font-size: 2rem;
    margin-left: 2vw;
}
/*-----------------1024(#footer)------------------------------*/

.tablet_footer{
    width: 100%; height:29.296875vw;
    background-color: var(--color-gray);
}
.tablet_footer .footer_logo{
    float:left; 
    margin-left:8.789vw; margin-top: 6.445312vw;
    width:15.527344vw; height: 15.030962vw;
    background-image: url("../../../icon/footer_logo.png");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}
.tablet_footer .address_01{
    float:right;
    margin-top: 6.445312vw; margin-right: 6.738281vw;
    width:auto; height:14.453125vw;
    font-size: 1rem;
    text-align:right;
    color:var(--color-white);
} 